/**{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}*/
.bodyAgregarEvento {
    //background: #181818;
    background-image: url(./src/assets/Fondo4.jpg);
    color: #fff;
    //line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    //padding: 0 1.5em;
  }

  .content {
    max-width: 1300px;
    margin-left: 78px;
    margin-right: auto;
    padding: 0.5em;
  }

  
// ENCABEZADO 
  .logo {
    text-align: center;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    color: black;
  }
// BORDE DEL CUADRO
  .contact-wrapper {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
  }

  .contact-wrapper > * {
    padding: 1em;
    
  }

  .contact-form label{
    font-size: 1rem;
    margin-bottom: 15px;
    
  }
// COLOR DEL FORMULARIO 
  .contact-form {
    background: #222222;
  }

  .contact-form form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
  }

  .contact-form form label {
    display: block;
  }

  .contact-form form p {
    margin: 0;
    padding: 1em;
    font-size: 0.8em;
  }
  .contact-select {
    height: 100vh;
    display: grid;
    grid-gap: 10px 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .content-select {
    max-width: 150px;
    position: relative;
  }
// EL COLOR DE LOS COMBO 
  .content-select select {
    font-weight: bolder;
    font-size: 1.5em;
    color: #000;
    background-color: #e971b1;
    background-image: url(./src/assets/Fondo5.jpg) ;
    display: inline-block;
    width: 90%;
    cursor: pointer;
    padding: 2px 15px;
    height: 25px;
    outline: 0;
    border: 0;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
  }
  // EL COLOR DE LA SELECCION DE LOS COMBO
  .content-select select:hover {
    background: rgb(240, 71, 201);
  }
  // SON PARA LAS LETRAS DEL FORMULARIO 
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 60%;
    padding: 0.1em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #fbcbcb;
    
  }
// PARA EL BOTÓN DE ENVIAR 
  .contact-form form button {
    background: #fbcbcb;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border: 1;
    text-transform: uppercase;
    padding: 1em;
    margin-left: 100px;
    background-image: url(./src/assets/Fondo5.jpg) ;
  }
// HOVER DEL BOTÓN DE ENVIAR
  .contact-form form button:hover,
  .contact-form form button:focus {
    background: rgb(42, 231, 42);
    color: rgb(0, 0, 0);
    transition: background-color 1s ease-out;
    outline: 0;
  }

  /* INFORMACION DE LA EMPRESA */
  .contact-info {
    background: #000;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
    align-items: center;
    margin: 0.5rem 0 0 1rem;
    font-size: 17px;
  }



  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }

  .contact-info ul li {
    padding: 0.1em;
    text-align: center;
    padding: 15px;
  }

  /* LARGE SIZE */
  @media (min-width: 700px) {
    body {
      padding: 0 4em;
    }
    .contact-wrapper {
      display: grid;
      grid-template-columns: 10fr 4fr;
    }
    .contact-wrapper > * {
      padding: 0.5em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
      text-align: left;
    }
  }

  .contact-info-logo {
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: center;
    //align-items: center;
    color: black;
    font-size: 75px;
    font-family:cursive;
    text-align: center;
    margin-right: 180px;
    margin-left: 145px;
    background-image: url(./src/assets/Fondo5.jpg) ;
    background-size: 150px 150px;
    margin-bottom: 50px;
    
}

.header {
    height: 3vh !important;
    background-color: pink;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    
    
}