.bodyEventos {
    //background: #181818;
    background-image: url(../assets/Fondo4.jpg);
    color: #fff;
    //line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    //padding: 0 1.5em;
    height: 100%;
    width: 100%;

  }

  .content {
    max-width: 1250px;
    margin-left: 78px;
    margin-right: auto;
    padding: 0.5em;
    height: 100%;
  }

  
// ENCABEZADO 
  .logo {
    text-align: center;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    color: black;
  }

  .tablaP{
    max-height:100%;
    height:auto;
  }
  
  .table{
    box-shadow: 2px 2px 5px #999;
    background-color: #FFFFFF;
  }

  .modal{
    display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 70vh;
    overflow-y: auto;
    scrollbar-color: #fccb90 #F5F5F5;
}


  