.bodyProveedores {
    //background: #181818;
    background-image: url(./src/assets/Fondo4.jpg);
    color: #fff;
    //line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    //padding: 0 1.5em;
    height: 100%;

  }

  .content {
    max-width: 1300px;
    margin-left: 78px;
    margin-right: auto;
    padding: 0.5em;
    height: 100%;
  }

  
// ENCABEZADO 
  .logo {
    text-align: center;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    color: black;
  }

  .content-button button{
    //background: #fbcbcb;
    background-image: url(./src/assets/Fondo5.jpg);
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border: 1;
    text-transform: uppercase;
    padding: 1em;
    outline: 0;
    text-align: center;
    margin: 0.5rem 0 0 2rem;
    margin-left: 620px ;
}

.tablaP{
  width: 85%;
  margin: 0 auto;
  
}

.table{
  box-shadow: 2px 2px 5px #999;
  background-color: #FFFFFF;
}

