@import './commons.scss';

.SideBarMenuItemView{
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 5px;


    a{
        //color: rgba(242, 84, 221, 0.904);
        color: #fbcbcb;
        text-decoration: none;
        display: block;
        padding: 5px;
        width: 10px;
        border-radius: 5px;

        .ItemContent{
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            @include transition(width);
    
            &.collapsed{
                width: 50px;
                height: 50px;
            }

            .icon{
                width: 50px;
                height: 50px;

            }

            .label{
                font-weight: 500;
                margin-left: 10px;
                overflow: hidden;
            }
         }

         &:hover{
           
                color: rgba(242, 84, 221, 0.904);
         }

         &:hover{
            & + .tooltip{
                display: inline-block;
                animation-duration: 0.4s;
                animation-name: tooltip;
                color: rgba(242, 84, 221, 0.904);
            }
         }
    }
    
    .tooltip{
        position: absolute;
        background-color: white;
        left: 70px;
        padding: 5px;
        border-radius: 4px;
        text-transform: capitalize;
        display: none;
    }
}
@keyframes tooltip{
    from {
        opacit:0;
    }
    to{
        opacity: 1;
    }
}